@font-face {
	font-family: 'Ronzino';
	src: url('./lib/assets/fonts/Ronzino-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ronzino';
	src: url('./lib/assets/fonts/Ronzino-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ronzino';
	src: url('./lib/assets/fonts/Ronzino-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ronzino';
	src: url('./lib/assets/fonts/Ronzino-Oblique.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ronzino';
	src: url('./lib/assets/fonts/Ronzino-MediumOblique.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ronzino';
	src: url('./lib/assets/fonts/Ronzino-BoldOblique.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans:
		'Ronzino', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

@layer statuses {
	.urgent {
		@apply border border-solid border-red-600 bg-red-100 text-red-700;
	}

	.semi-urgent {
		@apply border border-solid border-orange-600 bg-orange-100 text-orange-700;
	}

	.resolved {
		@apply border border-solid border-green-600 bg-green-100 text-green-700;
	}

	.blank {
		@apply border-dashed border-neutral-200 bg-white px-2 transition-all delay-75 duration-125;
	}

	.disabled {
		@apply cursor-not-allowed opacity-50;
	}

	.blank:hover {
		@apply border border-solid border-neutral-200 transition-all delay-75 duration-125;
	}

	.pill:hover {
		@apply transition-all delay-75 duration-125;
	}
}

@layer base {
	h1 {
		@apply text-3xl leading-none font-normal md:text-4xl;
	}

	h2 {
		@apply text-xl leading-none font-normal md:text-2xl;
	}

	h3 {
		@apply text-lg leading-none font-normal md:text-xl;
	}

	a,
	button {
		@apply cursor-pointer;
	}

	.pill {
		@apply flex w-fit place-items-center items-center justify-center gap-2 rounded-xl border-neutral-200 bg-[#F5F5F5] py-2 transition-all duration-7;
	}

	.pill p {
		@apply h-fit justify-self-center pt-px text-sm uppercase;
	}

	.pill img {
		@apply h-4 w-auto;
	}

	.sharer_icon {
		@apply flex aspect-square w-16 cursor-pointer items-center justify-center rounded-xl bg-neutral-50 p-5 transition duration-150 ease-in-out hover:bg-[#cfcfcf] active:scale-95;
	}

	* {
		@apply m-0 p-0;
	}

	html {
		@apply h-dvh min-h-full w-full overflow-hidden font-sans transition-all duration-150 ease-in-out;
	}

	body {
		@apply h-dvh w-full overflow-hidden font-sans md:min-h-full;
	}

	p {
		@apply w-fit font-sans text-sm font-normal tracking-[-0.03em] no-underline decoration-from-font;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
	}

	b {
		@apply font-medium;
	}

	button,
	a {
		@apply inline-flex h-fit w-fit cursor-pointer border-none bg-transparent p-[2px] text-inherit no-underline;
	}

	a:hover,
	button:hover {
		@apply no-underline underline-offset-2 md:underline;
	}

	*,
	::before,
	::after {
		@apply m-0 p-0;
		text-wrap-style: pretty;
	}

	::selection {
		@apply bg-[#3B82F6] text-white;
	}

	.hero {
		@apply mt-0 min-h-dvh md:mt-0;
	}

	img {
		@apply object-contain transition-all duration-150 ease-in-out;
	}

	.viewer_main {
		@apply relative grid min-h-0 w-full grid-cols-2 grid-rows-[2fr_0.1fr] items-center overflow-hidden rounded-3xl border-0 border-solid border-neutral-200 bg-white md:h-full md:grid-cols-[0.1fr_1fr_0.1fr] md:grid-rows-1 md:border-2 md:bg-neutral-100;
	}
}

img {
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	object-position: center;
}
