@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
	h1 {
		@apply text-5xl leading-none md:text-8xl;
	}

	#hero-h1 {
		@apply overflow-clip opacity-0 transition-opacity duration-300;
	}

	#hero-h1.ready {
		@apply opacity-100;
	}

	#hero-h1.ready .split-word {
		@apply opacity-0;
	}

	h2 {
		@apply text-xl leading-none md:text-3xl;
	}

	h3 {
		@apply text-lg leading-none md:text-xl;
	}

	p {
		@apply text-base leading-[140%];
	}

	a,
	button {
		@apply cursor-pointer hover:text-blue-500;
	}

	.urgent {
		@apply border border-solid border-red-600 bg-red-300 text-red-700;
	}

	.pill {
		@apply flex w-fit place-items-center items-center justify-center gap-2 rounded-xl bg-[#F5F5F5] px-4 py-2 transition-all duration-7;
	}

	.pill p {
		@apply h-fit justify-self-center pt-px text-sm uppercase;
	}

	/*.pill:hover {
    @apply border-blue-500 border-[1.5px] border-dashed;
  }

  .pill:active {
    @apply bg-blue-200 border-blue-500 text-blue-500 scale-[98%] duration-75;
  }*/

	.pill img {
		@apply h-4 w-auto;
	}

	.pill:hover img,
	.pill:active img {
		filter: brightness(0) invert(42%) sepia(93%) saturate(1352%) hue-rotate(208deg) brightness(119%)
			contrast(119%);
	}

	.sharer_icon {
		@apply flex aspect-square w-16 cursor-pointer items-center justify-center rounded-xl bg-gray-50 p-5 transition duration-150 ease-in-out hover:bg-[#cfcfcf] active:scale-95;
	}

	* {
		@apply m-0 p-0;
	}

	html {
		@apply min-h-full w-full overflow-hidden transition-all duration-150 ease-in-out;
	}

	body {
		@apply min-h-full w-full overflow-x-hidden overflow-y-hidden;
	}

	p {
		@apply w-fit font-sans text-base font-normal tracking-[-0.03em] no-underline decoration-from-font md:text-base lg:text-lg;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
	}

	b {
		@apply font-medium;
	}

	button,
	a {
		@apply inline-flex h-fit w-fit cursor-pointer border-none bg-transparent p-[2px] text-inherit no-underline;
	}

	*,
	::before,
	::after {
		@apply m-0 p-0;
		text-wrap-style: pretty;
	}

	::selection {
		@apply bg-[#3B82F6] text-white;
	}

	.main_container {
		@apply relative flex h-full w-full flex-col items-center gap-32 overflow-y-scroll scroll-smooth bg-transparent outline-none md:gap-4;
	}

	.fullsize_section {
		@apply relative z-[30] mt-6 flex h-fit w-full max-w-[1920px] snap-start items-center bg-transparent px-4 py-2 md:mt-52;
	}

	.hero {
		@apply mt-0 min-h-dvh md:mt-0;
	}

	img {
		@apply object-contain transition-all duration-150 ease-in-out;
	}
}

img {
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	object-position: center;
}
